<div class="about_parent">
  <div class="wrapper">
    <h1 class="heading">About Me</h1>
    <div class="about-me">
      <div class="img-wrapper">
        <img src="assets/images/ishu.png" alt="" />
      </div>
      <div class="text-wrapper" id="text-wrapper">
        <p class="about-me-text">
          HELLO👋<br />
          I am a working in IT company as a Front-End-Developer 💻. I have a
          passion for web development and love💖 to create websites for web and
          mobile devices
          <br />
          I love designing websites and keep things as simple as possible. My
          goals is to focus on minimalism and conveying the message that you
          want to send🌟 <br />
          I'm a developer, so I know how to create your website to run across
          devices using the latest technologies available.
        </p>
      </div>
    </div>
  </div>
</div>
