<div class="container parent">
  <div class="row">
    <div class="quotation col-md-8">
      <span class="hey">Hey there !</span>
      <span class="name">I'm Ishu,</span>
      <span class="name">Front-End Developer.</span>
    </div>
    <div class="image col-md-3">
      <img src="../../../../assets/images/ishu.png" alt="" class="image" />
    </div>
  </div>

  <div class="about_section">
    <app-aboutus></app-aboutus>
  </div>

  <div class="project_section">
    <app-projects></app-projects>
  </div>
</div>
